<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Livres</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

<div class="container">
    <h1 class="text-center mt-3 text-primary">
        <a th:if="${utilisateur.id} != 0 and ${utilisateur.statut} == 'USAGER'"
           th:href="@{/usager/pretUtilisateur/{utilisateurId}(utilisateurId=${utilisateur.id})}"
           class="btn btn-info bord-rond">Mes emprunts</a>
        <a th:if="${utilisateur.id} != 0 and ${utilisateur.statut} != 'USAGER'"
           th:href="@{/personnel/gestionPrets}"
           class="btn btn-info bord-rond">Gestion des prêts</a>
        Bibliothèques de la ville d'OpenVille
        <a th:if="${utilisateur.id} == 0" th:href="@{/login}" class="btn btn-info bord-rond">Connexion</a>
        <a th:if="${utilisateur.id} != 0" th:href="@{/logout}" class="btn btn-info bord-rond">Déconnexion</a>
    </h1>
    <div class="mt-5">
        <form class="text-primary form-inline" th:action="@{/accueil}"
              method="get">
            <label> &nbsp; Titre : &nbsp;</label>
            <input class="form-control-sm"
                   type="text" name="titre" th:value="${titre}">
            <label>&nbsp;Auteur : &nbsp;</label>
            <input class="form-control-sm" type="text" name="auteur"
                   th:value="${auteur}">
            <label>&nbsp;Catégorie : &nbsp;</label>
            <input class="form-control-sm" type="text" name="categorie"
                   th:value="${categorie}"> &nbsp; &nbsp;
            <button class="btn btn-info rond-lege text-light">Chercher</button>
            &nbsp; &nbsp;
        </form>
    </div>
        <div class="mt-5" th:each="livre : ${livres}">
    <table class="table text-info mt-5">
        <tbody>
            <tr>
                <td><strong class="text-primary">Titre :</strong> &nbsp; &nbsp; &nbsp; <a th:href="@{/detailsLivre/{id}(id=${livre.id})}">[[${livre.titre}]]</a></td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td><strong class="text-primary">Auteur : </strong> &nbsp; &nbsp; &nbsp; [[${livre.auteur}]]</td>
            </tr>
        </tbody>
        <tbody>
        <tr>
            <td><strong class="text-primary">Catégorie : </strong> &nbsp; &nbsp; &nbsp; [[${livre.categorie.categorie}]]</td>
        </tr>
        </tbody>
        <tbody>
            <tr>
                <td><strong class="text-primary">Description : </strong> &nbsp; &nbsp; &nbsp; [[${livre.description}]]</td>
            </tr>
        </tbody>
    </table>
        </div>
    </div>
</div>
</body>
</html>