<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Livres</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div layout:fragment="content">
<h1 class="mt-3 container-fluid text-center">[[${livre.titre}]]</h1>
<div class="container mt-3">
<div class="container-fluid mt-5">
    <div class="row center-div">
        <img th:src="${livre.couverture}" style="width:150px;height:200px; border:0px;" class="img-rounded">
        <table class="col-md-8 btn-titre">
        <tbody>
        <tr>
            <td><strong class="text-primary"></strong> &nbsp; &nbsp; &nbsp; </td>
        </tr>
        <tr>
            <td><strong class="text-primary">Auteur : </strong> &nbsp; &nbsp; &nbsp; [[${livre.auteur}]]</td>
        </tr>
        <tr>
            <td><strong class="text-primary"><br>Editeur : </strong> &nbsp; &nbsp; &nbsp; [[${livre.editeur}]]</td>
        </tr>
        <tr>
            <td class="mt-3"><strong class="text-primary"><br>Date d'édition : </strong> &nbsp; &nbsp; &nbsp; [[${livre.editionString}]]</td>
        </tr>
        <tr>
        <td class="mt-3">
            <strong class="text-primary"><br>Disponibilité :

            </strong> &nbsp; &nbsp; &nbsp;
            <span th:each="e : ${exemplaires}">
                  <strong class="text-info"><br>- [[${e.bibliotheque.nom}]] : </strong>  &nbsp;
                <span th:text="${e.nombreExemplaire}"></span>
            </span>
        </td>
        </tr>
        </tbody>
    </table>
        <dl class="mt-3">
            <dd> &nbsp; &nbsp; &nbsp; <br>[[${livre.description}]]</dd>
        </dl>
    </div>
</div>
</div>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br>
</div>
</body>
</html>