<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Détails d'un prêt</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

<div class="card-body">
    <a th:href="@{/pretUtilisateur/{utilisateurId}/{statut}(utilisateurId=${utilisateur.id}, statut='PRET')}"
       class="btn btn-info rond-lege">Retour</a>
    <table class="table text-info mt-5">
        <tbody>
        <tr>
            <td><strong class="text-primary">Titre : </strong> &nbsp; &nbsp; &nbsp;  <span>[[${exemplaire.livre.titre}]]</span></td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td><strong class="text-primary">Bibliothèque : </strong> &nbsp; &nbsp; &nbsp;  <span>[[${exemplaire.bibliotheque.nom}]]</span></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>