<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Gestion des prêts</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div layout:fragment="content">
    <a th:href="@{/usager/pretUtilisateur/{utilisateurId}(utilisateurId=${utilisateur.id})}"
       class="btn btn-info btn-titre rond-lege mt-2">Mes emprunts</a>
    <div class="container">
<div class="card-body">
    <table th:each="pret : ${prets}"
           class="table bg-light text-info mt-5">
        <tbody>
        <tr class="bleu text-center">
            <td><strong class="text-light text-center"><span th:text="${pret.genreId} == 1 ?'Mr' : 'Mme'"> </span> [[${pret.utilisateurNom}]] [[${pret.utilisateurPrenom}]]</strong> &nbsp; &nbsp; &nbsp;</td>
        </tr>
        <tr>
            <td><strong class="text-primary text-center">Titre : </strong> &nbsp; &nbsp; &nbsp; [[${pret.titreLivre}]]</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td><strong class="text-primary">Bibliothèque : </strong> &nbsp; &nbsp; &nbsp; [[${pret.nomBiblio}]]</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td><strong class="text-primary">Date du prêt : </strong> &nbsp; &nbsp; &nbsp; [[${pret.datePretString}]]</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td th:if="${pret.statut} == 'PRET'"><strong class="text-primary">Date de Retour : </strong> &nbsp; &nbsp; &nbsp; [[${pret.dateRetourString}]]</td>
            <td th:if="${pret.statut} == 'RENDU'"><strong class="text-primary">Rendu le : </strong> &nbsp; &nbsp; &nbsp; [[${pret.dateRetourString}]]</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td><strong class="text-primary">Prolongé : </strong> &nbsp; &nbsp; &nbsp;
                <span th:text="${pret.prolongation} != 0 ?'Oui' : 'Non'"></span>
            </td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td><strong class="text-primary">Statut : </strong> &nbsp; &nbsp; &nbsp; [[${pret.statut}]]
                &nbsp; &nbsp; &nbsp;<a th:if="${pret.statut} == 'PRET'"
               th:href="@{/livreRendu/{pretId}(pretId=${pret.id})}"
               class="btn btn-info rond-lege">Rendu</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
    </div>
</div>

</body>
</html>