<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestion des prêts</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

<div class="card-body">
    <a th:href="@{/accueil}"
       class="btn btn-info rond-lege">Retour</a>
    <table th:each="pret : ${prets}" class="table text-info mt-5">
        <tbody>
        <tr class="text-center">
            <td><strong class="text-primary text-center"><span th:text="${pret.genreId} == 1 ?'Mr' : 'Mme'"> </span> [[${pret.utilisateurNom}]] [[${pret.utilisateurPrenom}]]</strong> &nbsp; &nbsp; &nbsp;</td>
        </tr>
        <tr>
            <td><strong class="text-primary text-center">Titre : </strong> &nbsp; &nbsp; &nbsp; [[${pret.titreLivre}]]</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td><strong class="text-primary">Bibliothèque : </strong> &nbsp; &nbsp; &nbsp; [[${pret.nomBiblio}]]</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td><strong class="text-primary">Date de Retour : </strong> &nbsp; &nbsp; &nbsp; [[${pret.dateRetourString}]]</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td><strong class="text-primary">Statut : </strong> &nbsp; &nbsp; &nbsp; [[${pret.statut}]]
                &nbsp; &nbsp; &nbsp;<a th:if="${pret.statut} == 'PRET'"
               th:href="@{/livreRendu/{pretId}(pretId=${pret.id})}"
               class="btn btn-info rond-lege">Rendu</a>
            </td>
        </tr>
        </tbody>
        <tbody>
        <tr>
    </table>
</div>

</body>
</html>