<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Exemplaire</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

<body>
<br>
<div layout:fragment="content">
<div class="container">
    <div class="card mt-3">
        <div class="card-header">Mes prêts en cours</div>
        <div class="card-body">
            <div th:each="pret : ${prets}">
                <table class="table text-info mt-3">
                    <tbody>
                    <tr th:if="${today} < ${pret.dateRetour}"
                        class="text-center bg-info">
                        <td><strong class="text-light text-center">[[${pret.titreLivre}]] </strong> &nbsp; &nbsp; &nbsp; </td>
                    </tr>
                    <tr th:if="${today} > ${pret.dateRetour}"
                        class="text-center bg-danger">
                        <td class="text-light"><strong class="text-light text-center">[[${pret.titreLivre}]] </strong> &nbsp; &nbsp; &nbsp; (En retard)</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><strong class="text-primary">Bibliothèque : </strong> &nbsp; &nbsp; &nbsp; [[${pret.nomBiblio}]]</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><strong class="text-primary">Date de Retour : </strong> &nbsp; &nbsp; &nbsp; [[${pret.dateRetourString}]]</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><strong class="text-primary">Statut : </strong> &nbsp; &nbsp; &nbsp; [[${pret.statut}]]</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><strong class="text-primary">Prolongation : </strong> &nbsp; &nbsp; &nbsp; <span th:text="${pret.prolongation} != 0 ?'Oui' : 'Non'"></span>
                            &nbsp; &nbsp; &nbsp; <a class="btn btn-info rond-lege"
                               th:if="${pret.prolongation} == 0"
                               th:href="@{/prolongation/{pretId}/{utilisateurId}(pretId=${pret.id}, utilisateurId=${utilisateur.id})}">
                                Prolonger</a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>